name: Tests

on: [push, pull_request]
concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  stylua:
    name: Stylua
    runs-on: ubuntu-latest

    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.pull_request.head.repo.fork == true)

    steps:
      - uses: actions/checkout@v5
      - uses: JohnnyMorganz/stylua-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          version: latest
          args: --check .

  tests:
    name: tests (${{ matrix.os }} - ${{ matrix.nvim-version }})
    runs-on: ${{ matrix.os }}

    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.pull_request.head.repo.fork == true)

    strategy:
      matrix:
        os: [ubuntu-latest, macos-14]
        nvim-version: [v0.8.3, v0.9.5, v0.10.3, v0.11.2]

    steps:
      - uses: actions/checkout@v5
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - uses: leafo/gh-actions-lua@v12
        with:
          luaVersion: "5.1.5"
      - uses: leafo/gh-actions-luarocks@v6
      - name: Run nvim-test tests
        run: nix shell nixpkgs#bash nixpkgs#just -c just test ${{ matrix.nvim-version }}
